<li>
	<p>
		Byurgers for {{diner.diner_name}}
	</p>

	<ul>
		{{#each burgers}}
			{{#unless devoured}}
			<li>
				<div class="burger-li">
					{{id}}. {{burger_name}}
				</div>
				<button class="devour" data-id="{{id}}" data-diner-id="{{DinerId}}" data-newdevoured="true" value="{{full}}">
					Devour it!
				</button>
			</li>
			{{/unless}}
		{{/each}}
	</ul>

</li>