<li>
  <p>
    {{id}}. {{burger_name}}
  </p>

  <div class="buttons">
    <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
      Order Another!
    </button>
    <br>
    <button class="delete-burger" data-id="{{this.id}}">Delete!</button>
  </div>


</li>